#navbar{
    overflow: hidden;
    background-color : black;
   
}


#navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;

}

#navbar a:hover {
  background-color: #99CC32;
  color: black;
}

#navbar a.active {
  background-color: #31cc02;
  color: white;
}


.content{
    padding: 16px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content{
    padding-top: 60px;
}
